

<br><br> 


<div class="w3-center">
  
      <center>
     <h1 class="w3-xxxlarge w3-animate-bottom">Welcome to The Dog House</h1>
   
          <%= image_tag("dhouse.png", :class => "img-responsive", :style => "width:80px", :alt => "image" ) %> 
          <br>
      <p id="par">At The Dog House <span class="highlight-container"><span class="highlight">we value our clients.</span></span> With a team of groomers with a passion for animal care we strive for quality and an overall great expierence. Register to <span class="highlight-container"><span class="highlight">book online</span></span>, manage appointments and leave us your feedback.</p>
          <br>
        </center> 
  
</div>


<center>
<div class="row">
<div class="col-sm-4">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Services</h3><br>
   <i class="glyphicon glyphicon-scissors" style="font-size:120px"></i>
  <p>Check out our grooming services</p>
  </div>
</div>

    <div class="col-sm-4">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Sign Up</h3><br>
  <i class="glyphicon glyphicon-user" style="font-size:120px"></i>
  <p>Sign up now to start booking!</p>
  </div>
</div>
    
<div class="col-sm-4">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Reviews</h3><br>
  <i class="glyphicon glyphicon-thumbs-up" style="font-size:120px"></i>
  <p>We value our client feedback.</p>
  </div>
</div>


</div>
</center>

 
