



<center>
<div class="outside">
  <div class="row">
    <div class="col-sm-4">
      
         <%= link_to image_tag("logo.png", :class => "img-responsive", :style => "width:50%", :alt => "image" ), services_path %>
        <br><p>Services</p>
        
    </div>
    <div class="col-sm-4"> 
         <%= link_to image_tag("signup.png", :class => "img-responsive", :style => "width:50%", :alt => "image" ), "#" %>
        <br><p>Sign Up</p>
        
    </div>
    <div class="col-sm-4">
        
         <%= link_to image_tag("talk2.png", :class => "img-responsive", :style => "width:50%", :alt => "image" ), "#" %>
   <br> <p>Reviews</p>
    </div>
  </div>
</div>
    <br><br><br>
   
 </center>    
