<center>
     
<div class="backback">
   <h1>Edit Booking</h1>
<div class="row">


<p id="notice"><%= notice %></p>

<%= render 'form', tblbooking: @tblbooking %>

<%= link_to 'Show', @tblbooking %> |
<%= link_to 'Back', tbl_bookings_path %>


</div>
    
</div>
</center>