<center>
     
<div class="backback">
   <h1>Create Booking</h1>
<div class="row">





<%= render 'form', tblbooking: @tblbooking %>

<%= link_to 'Back', tblbookings_path %>



</div>
    
</div>
</center>