/* VARIABLES */
/* BASE */
html,
body {
  font-family: 'Crimson Text', serif;
  font-size:28px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
    background-color: ghostwhite;
}

.footer {
    background-color: ghostwhite;
    position:auto !important;
    left: 0;
    bottom: 0;
    font-size: 20px !important;
    padding-top: 10px !important;
}

.w3-center #par {
    width: 50% !important;
    
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  overflow: hidden;
  *zoom: 1;
  margin: 0 20px;
}

.letssee {
    background-color: #E24E42;
    
}

.site-content {
  padding-top: 66px;
}


/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: white;
}

.header__logo {
  font-size:30px;
  font-family: 'Lobster', cursive;
    text-decoration: none !important; 
  color: #007849;
  padding: 0 25px;
  float: left;
}

.header__logo:hover {
    color: #626e60;
}


/* MENU */
.menu {
  float: right;
  color: black;
    font-size:23px;
    padding-right: 10px;
    
}
.menu a {
  padding: 0 10px;
}

.special {
    font-weight: bold;
}


.w3-third h3 {
    padding-top: 10px;
}

.col-sm-4 i{
    color: #14a76c !important;
}

.row {
   width: 70% !important;
   min-width: 50% !important;
   padding-top: 10px !important;
}

.w3-third:hover {
     zoom: 105% !important;
    background-color: whitesmoke !important;
}

.menu a:hover {
  color: #626e60;
  text-decoration: none;
}

.col-sm-4:hover {
    zoom : 110%;
}

/* RESPONSIVE */
@media only screen and (max-width: 920px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }

  .site-container {
    overflow: scroll;
  }

    
    
  .site-pusher {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    
  }

  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    overflow: scroll;
    
  }

  .header {
    position: static;
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -webkit-box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
    box-shadow: 0 10px 0 2px black, 0 16px 0 2px black, 0 22px 0 2px black;
  }
    
   
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    /*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    width: 250px;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid white;
  }

  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before, .highlight-container:after {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
}
.highlight-container:before {
  background: rgba(234, 221, 6, 0.9);
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
}
.highlight-container:after {
  background: rgba(234, 210, 6, 0.6);
  top: 3px;
  right: -2px;
}
.highlight-container .highlight {
  color: #333;
  z-index: 4;
}
