<center>
     
<div class="backback">
   <h1>Edit Schedule</h1>
<div class="row">


<p id="notice"><%= notice %></p>

<%= render 'form', tblschedule: @tblschedule %>

<%= link_to 'Show', @tblschedule %> |
<%= link_to 'Back', tbl_schedules_path %>


</div>
    
</div>
</center>