<center>
     
<div class="backback">
   <h1>Create Schedule</h1>
<div class="row">





<%= render 'form', tblschedule: @tblschedule %>

<%= link_to 'Back', tbl_schedules_path %>



</div>
    
</div>
</center>