




<div class="outside2">

  <center>
    <h3>Contact</h3>
    <div class="row2">
    <h4>
        
        <b>Phone Number</b><br/>
        905-999-9999<br/>
        <br/>
        <b>Email</b><br/>
        info@thedoghouse.ca<br/>
       <br/> 
        <b>Location</b><br/>
        8776 Dale Road
        <br/>Cobourg, ON
        <br/><br/>
        <b>Hours</b><br/>
        Monday-Saturday <br/>9:00am to 6:00pm
        <br/><br/>Sunday <br/>10:00am to 3:00pm
        <br/><br/><br/>
        <%= image_tag("doodle.png", :class => "img-responsive", :style => "width:50%", :alt => "image" ) %>
        
    </h4>
        </div>

      
    </center>

 
</div>