
<br>

<div class="w3-row w3-container" style="margin:50px 0">
    <center>
        
     <div class="w3-half w3-container">
  
    
      
    <h1><i class="
glyphicon glyphicon-map-marker" style="font-size:40px"></i> Contact Us</h1>
    <br>
      <p><b>Location:</b> 138 Division St, Cobourg, ON<br>
         <b>Phone:</b> 905-559-9559 <br>
         <b>Email:</b>  thedoghouse@info.ca</p><br>
   <h1><i class="
glyphicon glyphicon-calendar" style="font-size:40px"></i> Hours of Operation</h1>
         <br>
      <p><b>Monday to Friday:</b> 9:00am to 6:00pm<br>
         <b>Saturday:</b> 9:00am to 4:00pm <br>
         <b>Sunday:</b> CLOSED</p><br>

        </div>
    </center>
<div class="w3-half w3-container">
    <div class="w3-card-4 w3-margin w3-white">
  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2872.1061514611765!2d-78.16398144888274!3d43.957169379009514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d5c5a15af9f659%3A0x546cc70374ff59d8!2sCobourg+Beach!5e0!3m2!1sen!2sca!4v1520125975270" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
</div>

   
</div>

