<center>
     
<div class="backback">
   <h3>Services</h3>
<div class="row">
    
        <h2>Full Wash Package</h2>
        <h3>Small Dog - $30</h3>
        <h3>Medium Dog - $45</h3>
        <h3>Large Dog - $50</h3><br/>
        <h2>Hair Trim</h2>
        <h3>Small Dog - $30</h3>
        <h3>Medium Dog - $45</h3>
        <h3>Large Dog - $50</h3><br/>
         <h2>Ear Clean</h2>
        <h3>Any Size Dog - $10</h3><br/>
        <h2>Nail Clipping</h2>
        <h3>Any Size Dog - $10</h3><br/>
    <br/><br/><br/>
        <%= image_tag("doodle.png", :class => "img-responsive", :style => "width:50%", :alt => "image" ) %>
   
</div>
    
</div>
</center>
