

<br><br>
<center>
<h2>Our Services</h2>
<h4>Sign up or contact us to book now</h4>
    </center>
<hr>
<div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
       
      
        <h3>Full Package</h3>
      <p>Includes wash, trim and ear clean<br>- Small Dog: $35<br>- Medium Dog: $40<br>- Large Dog: $45</p>
       
    </div>
    <div class="w3-quarter">
        
      <h3>Trim</h3>
      <p>Includes wash and trim<br>- Small Dog: $15<br> - Medium Dog: $20<br>- Small Dog: $25</p>
    </div>
    <div class="w3-quarter">
        
      <h3>Nail Trim</h3>
      <p>Cost: $10</p>
      
    </div>
    <div class="w3-quarter">
       
      <h3>Ear Clean</h3>
      <p>Cost: $15</p>
    </div>
   
  </div>